<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>


<!--This adds comment listing to the post.... line by line this is all the following:
	Creates a headder line that reads comments. Makes a div named comments. Takes
	that dive and using inbedded ruby do loops goes though each comment and adds a
	div for it with a div_for helper.. Then it uses another rails helper to show
	when it was made in words. -->

<h2>Comments</h2>
<div id="comments">
	<%= render :partial => @post.comments.reverse %>
</div>

<!-- How to add code to add comments to the post page: in detail:
	form_for is a rails builtin, usses inbedded ruby with the .label
	and the .text_area. f.submit does just what it suggest.-->

<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p> <%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %></p>
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
